<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Report</title>

    <link rel="stylesheet" type="text/css" href="/css/all.css"/>
    <script type="text/javascript" src="/js/common.js" async></script>
    <script type="text/javascript" src="/js/lib/FileSaver.js" async></script>
    <script type="text/javascript" src="/js/lib/sheetjs.js" async></script>

    <link rel="stylesheet" href="/css/jquery.sheetjs.css"/>
    <script src="/js/lib/jquery.min.js" ></script>
    <script src="/js/lib/jquery.sheetjs.js" ></script>

    <script th:inline="javascript">
        let mkt = [[${marketHierarchy}]];
        let selectedDivision = [[${division}]];
        let selectedRegion = [[${region}]];
        let selectedTerritory = [[${territory}]];

        let regFromServer = selectedRegion;
        let terFromServer = selectedTerritory;

        console.log(selectedDivision,' ',selectedRegion,' ',selectedTerritory);
    </script>
</head>
<body onload="loadDivisionSelect()">
<div class="container">
    <div class="row">
        <div class="col-15">
            <button onclick="exportTable('report-table-location-wise-shop-detail')">Download</button>
        </div>
        <div class="col-60"></div>
        <div class="col-15">
            <button style="background: maroon"
                    onclick="window.location.href=location.origin+'/report'">
                Back to Reports</button>
        </div>
    </div>
    <div style="text-align: center;"><h2>Division Region Territory wise Shop Detail</h2></div>
    <div class="row"><label></label></div>
    <div class="row">
        <div class="col-20">
            <label for="division-select"><b>Select Division</b></label>
            <select id="division-select" onchange="loadRegionSelect(this.value)">
            </select>
        </div>
        <div class="col-5"><label></label></div>
        <div class="col-20">
            <label for="region-select"><b>Select Region</b></label>
            <select id="region-select" onchange="loadTerritorySelect(this.value)">
            </select>
        </div>
        <div class="col-5"><label></label></div>
        <div class="col-20">
            <label for="territory-select"><b>Select Territory</b></label>
            <select id="territory-select" onchange="selectedTerritory=this.value">
            </select>
        </div>
        <div class="col-5"><label></label></div>
        <div class="col-10">
            <label></label>
            <button onclick="reloadLocationWiseDetailReport()">Apply</button>
        </div>
    </div>
    <label></label>
    <div class="row">
        <div style="max-height:500px;overflow-y: auto">
            <table  id="report-table-location-wise-shop-detail" class='styled-table'>
                <thead>
                <tr>
                    <th>SL</th><th>Division</th><th>Region</th><th>Territory</th>
                    <th>Distributor Name</th><th>Distributor Code</th><th>Shop Type</th>
                    <th>Shop Name</th><th>Shop Code</th><th>Address</th>
                    <th>Proprietor Name</th><th>Proprietor Phone</th><th>MSO Name</th><th>MSO Phone</th>
                    <th>Machine SL</th><th>Machine Number</th><th>Machine Brand</th>
                    <th>Installation Date</th><th>Security Money</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${shopList.isEmpty()}" >Nothing Found. Apply Filter</tr>
                <th:block th:each="shop,stat:${shopList}">
                    <th:block th:each="con,stat1:${shop.contracts}">
                        <tr >
                            <th:block th:if="${stat1.index eq 0}">
                                <td th:text="${stat.index+1}" ></td>
                                <td th:text="${shop.division}" ></td>
                                <td th:text="${shop.region}" ></td>
                                <td th:text="${shop.territory}" ></td>
                                <td th:text="${shop.distributorName}" ></td>
                                <td th:text="${shop.distributorOracleCode}" ></td>
                                <td th:text="${shop.shopType.name}" ></td>
                                <td th:text="${shop.shopName}" ></td>
                                <td th:text="${shop.shopCode}" ></td>
                                <td th:text="${shop.address}" ></td>
                                <td th:text="${shop.proprietorName}" ></td>
                                <td th:text="${shop.proprietorPhone}" ></td>

                                <th:block th:if="${shop.mso}">
                                    <td th:if="${shop.mso.name}" th:text="${shop.mso.name}" ></td>
                                    <td th:unless="${shop.mso.name}" th:text="" ></td>
                                    <td th:text="${shop.mso.phone}" ></td>
                                </th:block>
                                <th:block th:unless="${shop.mso}">
                                    <td></td><td></td>
                                </th:block>

                            </th:block>
                            <th:block th:unless="${stat1.index eq 0 }">
                                <td th:each="i: ${#numbers.sequence(1, 14)}"></td>
                            </th:block>
                            <td th:text="${stat1.index+1}" ></td>
                            <td th:text="${con.machine.machineNumber}"></td>
                            <td th:text="${con.machine.machineBrand.name}"></td>
                            <td th:text="${con.handoverDate}"></td>
                            <td th:text="${con.securityMoney}"></td>
                        </tr>
                    </th:block>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    function loadDivisionSelect() {
        let divisions = ['','-'];
        for(let i in mkt){
            divisions.push(mkt[i]['division']);
        }
        divisions = [...new Set(divisions)];
        loadSelectOptions('division-select',divisions,selectedDivision);
        loadRegionSelect(selectedDivision);
    }

    function loadRegionSelect(division) {
        selectedDivision = division;
        selectedRegion = regFromServer.toString().length>0?regFromServer:'';
        regFromServer='';
        let regions = ['','-'];
        for(let i in mkt){
            if(mkt[i]['division']==selectedDivision) regions.push(mkt[i]['region']);
        }
        regions = [...new Set(regions)];
        loadSelectOptions('region-select',regions,selectedRegion);
        loadTerritorySelect(selectedRegion);
    }

    function loadTerritorySelect(region) {
        selectedRegion = region;
        selectedTerritory = terFromServer.toString().length>0?terFromServer:'';
        terFromServer='';
        let territories = ['','-'];
        for(let i in mkt){
            if(mkt[i]['region']==selectedRegion) territories.push(mkt[i]['territory']);
        }
        territories = [...new Set(territories)];
        loadSelectOptions('territory-select',territories,selectedTerritory);
    }

    function loadSelectOptions(selectId,list,selectedVal) {
        let select = document.getElementById(selectId);
        select.innerHTML = '';
        let optionStr = '';
        list.forEach((item) => {
            let text = '';
            let selectedStr = selectedVal==item?'selected':'';
            if(item=='') text = '-SELECT-';
            else if(item=='-') text = 'ALL';
            else text = item;
            optionStr += "<option value='"+item+"' "+selectedStr+">"+text+"</option>";
        });
        select.innerHTML = optionStr;
        console.log(selectId,' Selected Val ',selectedVal);
    }

    function reloadLocationWiseDetailReport() {
        let url = location.origin+"/report/shop_machine_detail/location_wise";
        url+= "?division=" +encodeURIComponent(selectedDivision)+
            "&region=" +encodeURIComponent(selectedRegion)+
            "&territory=" +encodeURIComponent(selectedTerritory);
        window.location.href = url;
    }
</script>
</body>
</html>